{% extends "base.html" %}

{% block top %}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <p class="title">
                <strong>Entregator</strong>
            </p>
        </div>
    </div>
</section>
{% endblock top %}


{% block main %}
    <p>
        O melhor site de entregas do ES!
        Melhor que o Shipp pelo menos.
    </p>
    <br>
    <p>Projeto de portfólio de programação back-end em Python e Flask.</p>
    <p>Portfolio project on back-end programming with Python and Flask.</p>
{% endblock main %}
