{% extends "base.html" %}

{% block top %}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1>Entre na sua conta!</h1>
        </div>
    </div>
</section>
{% endblock top %}


{% block main %}

<form class="user-form" action="{{url_for('site.login')}}" method="POST" enctype="multipart/form-data">
    {{form.csrf_token}}
    
    {{form.zip.label}}<br>
    {{form.zip(size=20)}}<br>

    {{form.country.label}}<br>
    {{form.country(size=20)}}<br>

    {{form.address.label}}<br>
    {{form.address(size=100)}}<br>
    <input type="submit" value="Cadastrar">
</form>

{% endblock main %}