{% extends "base.html" %}
{% import "macros/list_item.html" as list_item %}

{% block top %}
<section class="hero is-primary">
    <div class="hero-body">
        {% if current_user.is_active %}
            <p class="title">
                Olá <strong>{{ current_user }}</strong>
            </p>
            <p class="subtitle">
                {{ loja }} está pronto para matar sua fome!
            </p>
        {% else %}
            <p class="title">
                <strong>Entregator</strong>
            </p>
            <p class="subtitle">
                Este é o seu prato!
            </p>
        {% endif %}
    </div>
</section>
{% endblock top %}


{% block main %}
    <div class="columns is-multiline is-mobile">
        <div class="column is-half">
            <h1>O seu pedido no restaurante <a href="{{url_for('site.page_restaurant', loja=loja.id)}}">{{loja}}</a> contém:
                <br><br>
            {% for item in order_items %}
                <div class='card'>

                    {{ item.quantidade }} - {{ item.name }}: R${{ item.preco }} cada
                    <footer class="card-footer">
                        <a href="{{url_for('site.page_item', item=item.item_id)}}" class="card-footer-item">Alterar quantidade</a>
                        <a href="{{url_for('site.remove', item=item.id)}}" method="DELETE" class="card-footer-item">Remover prato</a>
                    </footer>
                </div>
                <br>
            {% endfor %}
        </div>
        <div class="column is-one-quarter">
            <div class="card">
                <div class="has-text-centered">
                    <h1>Informações do pedido:</h1>
                    <br>
                    <form action="{{url_for('site.checkout', order=order.id)}}" method="POST">
                        {% if enderecos is defined %}
                            <a href="{{url_for('site.address')}}">Cadastre um endereço!</a>
                        {% else %}
                            <div class="select">
                                <select name='endereco'>
                                    {% for local in enderecos %}
                                        <option value={{local.id}}>{{ local.address }}</option>
                                    {% endfor %}
                                </select>
                            </div>  
                        {% endif %}
                        <br><br>
                        <div class="select">
                            <select name='pagamento'>
                                <option value='Dinheiro'>Dinheiro na entrega</option>
                                <option value='Débito'>Débito</option>
                                <option value='Crédito'>Crédito</option>
                            </select>
                        </div>
                        <br><br>
                        <h1>TOTAL: R${{tot}}</h1>
                        <br>
                        <input type="submit" class="button is-light" value="Finalizar pedido" />
                    </form> 
                </div>
            </div>
        </div>
    </div>
{% endblock main %}