{% extends "base.html" %}
{% import "macros/list_item.html" as list_item %}

{% block top %}
<section class="hero is-primary">
    <div class="hero-body">
        {% if current_user.is_active %}
            <p class="title">
                Olá <strong>{{ current_user }}</strong>
            </p>
            <p class="subtitle">
                {{ loja }} está pronto para matar sua fome!
            </p>
        {% else %}
            <p class="title">
                <strong>Entregator</strong>
            </p>
            <p class="subtitle">
                Este é o seu prato!
            </p>
        {% endif %}
    </div>
</section>
{% endblock top %}


{% block main %}
    <div class="content is-normal">
        <h1>O número do seu pedido é {{ order.id }}, ele contém:</h1>
        
        <ul>
            {% for item in order_items %}
            <li>{{ item.quantidade }} - {{ item.name }}: R${{ item.preco }} cada</li>
            <form action="{{url_for('site.remove', item=item.id)}}" method="POST">
                <input type="submit" value="Remover" />
            </form>
            <!-- <button class="button is-light" href="{{url_for('site.remove', item=item.id)}}">Remover</button> -->
            {% endfor %}
        </ul>
    </div>
{% endblock main %}