{% extends "base.html" %}
{% import "macros/list_item.html" as list_item %}

{% block top %}
<section class="hero is-primary">
    <div class="hero-body">
        {% if current_user.is_active %}
            <p class="title">
                Olá <strong>{{ current_user }}</strong>
            </p>
            <p class="subtitle">
                {{ loja }} está pronto para matar sua fome!
            </p>
        {% else %}
            <p class="title">
                <strong>Entregator</strong>
            </p>
            <p class="subtitle">
                Este é o seu prato!
            </p>
        {% endif %}
    </div>
</section>
{% endblock top %}


{% block main %}
    <div class="columns is-desktop">
        <div class="column is-half">
            <h1>O número do seu pedido é {{ order.id }}, ele contém:<br>
            
            <ul>
                {% for item in order_items %}
                <li>{{ item.quantidade }} - {{ item.name }}: R${{ item.preco }} cada</li>
                <form action="{{url_for('site.remove', item=item.id)}}" method="DELETE">
                    <input type="submit" value="Remover" />
                </form>
                {% endfor %}
            </ul>
        </div>
        <div class="column is-half">
            <form action="{{url_for('site.checkout', order=order.id)}}" method="POST">
                <div class="select">
                    <select name='pagamento'>
                        <option value='Dinheiro'>Dinheiro na entrega</option>
                        <option value='Débito'>Débito</option>
                        <option value='Crédito'>Crédito</option>
                    </select>
                </div>
                <h1><br>

                <h1>TOTAL: R${{tot}}</h1>
                <input type="submit" value="Finalizar pedido" />
            </form>
                
        </div>
    </div>
{% endblock main %}