{% extends "base.html" %}

{% block top %}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1>Entregator</h1>
        </div>
    </div>
</section>
{% endblock top %}


{% block main %}
<h1>
    Seu pedido foi enviado ao restaurante {{loja}}!
</h1>
<ul>
    {% for item in items_list %}
        <li>{{item.quantidade}} de {{item.name}}</li>
    {% endfor %}
</ul>
<h2>Para serem entregues no endereço {{ endereco.address }}</h2>
<h2>Totalizando R${{tot}}</h2>
<h2>Pagamento em {{pag}}</h2>
{% endblock main %}
