{% extends "base.html" %}
{% import "macros/list_item.html" as list_item %}

{% block top %}
<section class="hero is-primary">
    <div class="hero-body">
        {% if current_user.is_active %}
            <p class="title">
                Olá <strong>{{ current_user }}</strong>
            </p>
            <p class="subtitle">
                {{ loja }} está pronto para matar sua fome!
            </p>
        {% else %}
            <p class="title">
                <strong>Entregator</strong>
            </p>
            <p class="subtitle">
                Para pedir algo do {{ loja }} você precisa estar logado!
            </p>
        {% endif %}
    </div>
</section>
{% endblock top %}


{% block main %}
    {% if foods %}
        {{ list_item.cards(foods) }}
    {% endif %}
{% endblock main %}